{% extends 'layout.twig' %}

{% block main %}
    <main class="main main__centered">
        <h2 class="error-title">Błąd {{ error }}</h2>
        <p>Coś jest nie tak z serwerem, spróbuj ponownie.</p>
    </main>
{% endblock %}
