{% extends 'layout.twig' %}

{% block main %}
    <main class="main error-page">
        <h2 class="error-page--title">Błąd {{ error }}</h2>
        <a href="https://xkcd.org/{{ xkcdImage.num }}">
            <img src="{{ xkcdImage.img }}" alt="Komiks z xkcd - {{ xkcdImage.alt }}" class="error-page--image">
        </a>
    </main>
{% endblock %}
