{% extends 'layout.twig' %}

{% block main %}
    <main class="main">
        <section class="panel panel-content">
            <h2 class="panel-title">Dodaj nowy</h2>
            <form action="{{ path_for('create') }}" method="post" class="code-form">
                <label for="title" class="code-form--label">Tytuł wklejki</label>
                <input type="text" id="title" name="title" class="code-form--control code-form--control__title" placeholder="Na przykład: Zadanie #7 na SPOJu" required>
                <fieldset class="code-form--file" data-index="0">
                    <label for="name[0]" class="code-form--label">Nazwa pliku (opcjonalna)</label>
                    <input type="text" id="name[0]" name="name[0]" class="code-form--control" placeholder="Na przykład: main.cpp">
                    <label for="content[0]" class="code-form--label">Treść pliku</label>
                    <textarea name="content[0]" id="content[0]" rows="10" class="code-form--control code-form--control__textarea" required></textarea>
                </fieldset>
                <div class="code-form--button-group">
                    <button type="button" id="new-file" class="code-form--button">Dodaj kolejny plik</button>
                    <input type="submit" value="Dodaj wklejkę" class="code-form--button code-form--button__submit">
                </div>
            </form>
        </section>
    </main>
{% endblock %}

{% block js %}
    <script>
        const newFileButton = document.getElementById('new-file');

        newFileButton.addEventListener('click', () => {
            const lastFile = document.querySelector('.code-form--file:last-of-type');
            const lastIndex = lastFile.getAttribute('last-index');

            const newIndex = lastIndex + 1;
            const newFile = document.createElement('fieldset');
            newFile.classList.add('code-form--file');
            newFile.setAttribute('data-index', newIndex);
            newFile.innerHTML = `<label class="code-form--label" for="name[${newIndex}]">Nazwa pliku (opcjonalna)</label>
<input type="text" id="name[${newIndex}]" name="name[${newIndex}]" class="code-form--control">
<label for="content[${newIndex}]" class="code-form--label">Treść pliku</label>
<textarea name="content[${newIndex}]" id="content[${newIndex}]" rows="10" class="code-form--control code-form--control__textarea"></textarea>`;

            lastFile.parentNode.insertBefore(newFile, lastFile.nextSibling);
        });
    </script>
{% endblock %}
