<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Code{% endblock %}</title>
        <link rel="stylesheet" href="{{ base_url() }}style.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&amp;subset=latin-ext" rel="stylesheet">
        {% block head '' %}
    </head>
    <body>
        <header class="page-navbar">
            <div class="page-navbar--container">
                <h1 class="page-navbar--title">
                    <a href="{{ path_for('home') }}" class="page-navbar--title-link">
                        <img src="https://nastoletni.pl/wp-content/themes/nastoletnitheme/imgs/logo.svg" alt="" class="page-navbar--logo-image">
                        Code
                    </a>
                </h1>
                <nav class="page-navbar--navigation page-navbar-nav">
                    <h2 class="page-navbar-nav--title">Nawigacja</h2>
                    <ul class="page-navbar-nav--links">
                        <li class="page-navbar-nav--links-item"><a href="{{ path_for('home') }}" class="page-navbar-nav--link page-navbar-nav--link__active">Dodaj nowy</a></li>
                        <li class="page-navbar-nav--links-item"><a href="https://nastoletni.pl" class="page-navbar-nav--link">Powrót na nastoletni.pl</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% block main '' %}
        <footer class="footer">
            <div>
                <p>&copy; code.nastoletni.pl, {{ 'now'|date('Y') }}</p>
                <ul>
                    <li><a href="https://github.com/nastoletni/code">GitHub</a></li>
                    <li><a href="https://facebook.com/nastoletnipl">Fanpage</a></li>
                    <li><a href="https://facebook.com/groups/NastoletniProgramisci">Grupa</a></li>
                    <li><a href="https://m.me/albert.wolszon">Kontakt</a></li>
                </ul>
            </div>
        </footer>
    {% block js '' %}
    </body>
</html>
