@import './../../node_modules/nastoletni-sass/src/style';

pre code {
  border-radius: 0;
}

.code-form--error {
  margin: -10px 0 15px;
  padding: 10px 15px;
  background: #c0392b;
  color: #fff;
}

.main__centered {
  height: calc(100vh - 199px); // 129px footer + 70px header
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
